<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmação - 1XBET</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style-confirmacao.css') }}">
</head>
<body>

    <div class="logo-container">
        <img src="{{ url_for('static', filename='imagens/1xBet_Logo_rgb.png') }}" alt="1XBET Logo" class="logo">
    </div>

    <h2 class="form-title">OBRIGADO POR PARTICIPAR<br>
    DA NOSSA ATIVAÇÃO!</h2>

    <p class="form-text">
        O sorteio do grande prêmio será realizado<br>
        às 15h, em nosso espaço, junto à nossa<br>
        equipe de produção e conduzido pelo nosso<br>
        apresentador.
    </p>

    <p class="form-text">
        Para garantir o recebimento do prêmio, o<br>
        participante sorteado deverá estar presente<br>
        em nosso stand no horário estipulado,<br>
        portando um documento de identificação válido.
    </p>

    <p class="form-text">
        Caso o participante não esteja presente após<br>
        o sorteio e a chamada do seu nome, um<br>
        novo sorteio será realizado até que um<br>
        ganhador presente seja selecionado.
    </p>

    <h3 class="form-highlight">BOA SORTE!</h3>

    <p class="form-subtext">
        <span class="english-text">Thank you for participating in our activation!</span><br>
        <span class="english-text">The grand prize draw will take place at 3 PM at our</span><br>
        <span class="english-text">booth, alongside our production team and hosted</span><br>
        <span class="english-text">by our presenter.</span>
    </p>

    <p class="form-subtext">
        <span class="english-text">To claim the prize, the selected participant must be</span><br>
        <span class="english-text">present at our booth at the scheduled time with a</span><br>
        <span class="english-text">valid form of identification.</span>
    </p>

    <p class="form-subtext">
        <span class="english-text">If the selected participant is not present after the</span><br>
        <span class="english-text">draw and their name is called, a new draw will be</span><br>
        <span class="english-text">conducted until a winner who is present is selected.</span><br>
        <span class="english-text">Good luck!</span>
    </p>

</body>
</html>
